<!-- <form action="/entries" method="post">
  <input type="text" name="entry[subject]">
  <input type="text" name="entry[body]">
  <input type="submit" name="Create Entry!">
</form> -->

<%= form_tag @entry, url: { action: "create" } do |f| %>
  <p class="block">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p class="block">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>